body {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* basic settings */
html {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  font-family: 'Montserrat', sans-serif;
}

@keyframes doubleBounce {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
}

.col-complementary {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 570px;
  min-width: 300px;
  left: -10%;
  
}

@media only screen and (max-width: 800px) {
  .col-complementary {
    min-height: 300px;
    background-position: top;
    left: 0%;


  }
}

@media only screen and (max-width: 480px) {
  .col-complementary {
    min-height: 240px;
    background-position: top;
    left: -10%;
  }
}


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  clear: both;
  top: 20px;
  height:0px;
  width: 100%;
  z-index: 10000000;
  position: absolute;
}

h5 {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
}


.carousel-indicators li {
  width: 300px;
}

.carousel-indicators {
  top: 75px;
}

.carousel-caption {
  top: 55px;
}

.reproductor {
  height: 100%;
  text-align: left;
  line-height: normal;
}

.genre {
  font-size: 1em;
}

.artist {
  font-size: 3em;
  font-weight: 900;
}

.song-title {
  font-size: 2em;
  font-weight: 400;
  line-height: 0.95em;
}

.album {
  padding-top: 0.75em;
  font-size: 1em;
}



@media only screen and (max-width: 480px) {
  .genre {
    font-size: 0.5em;
  }
  
  .artist {
    font-size: 2em;
    font-weight: 900;
  }
  
  .song-title {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 0.95em;
  }
  
  .album {
    padding-top: 0.35em;
    font-size: 0.85em;
  }
}




.likes {
  font-size: 0.650em;
  opacity: 0.5;
  padding-top: 10px;
}

.more {
  display: none;
  font-size: 0.875em;
  padding-top: 30px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .more {
    padding-bottom: 0px;
  }
}

a {
  color: #ffffff;
}

a:hover {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}


/* Layout: */

.col-main {
  flex: 1;  
  align-self: flex-end;
}  

.col-main-inside2 {
  background: aqua;
  padding: 30px;
}  

.col-complementary {
  flex: 2;  
}

/* Responsive: */

@media only screen and (min-width: 600px) {
  .layout {
    display: flex;

  }
}

@media only screen and (min-width: 800px) {
  .layout2 {
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .layout2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}
@media only screen and (min-width: 600px) {
  .layout3 {
    display: flex;
    max-width: 480px;
  }
}

  .layout3 {
    margin-top: 30px;
  }


  .col-main-btn {
    flex: 1;  
  }  
  .col-complementary-btn {
    flex: 1;  
    padding: 10px;
  }

/* etc */


.player {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.col {
  margin: 0 2px 2px 0;
  /* background: #b3e888; */
}

@media only screen and (max-width: 480px) {
  .col {
    margin-top: -10px;
  }
}



.cover {
  background-size: cover;
  background-position: center;
}

.cover2 {
  margin-top: 100px; 
  max-width: 100%;
}


.likes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


.likes .likeheartoutlinesymbol{
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}




  /* Controls */

  
  .repro {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
     /*     margin: 100px auto; */
  }

  @media only screen and (max-width: 600px) {
    .repro {
      margin-top: -20px;
    }
  }

  
  .current-time {
    width: 15%;
    float: left;
    text-align: center;
  }
  .progress-bar-wrapper {
    width: 70%;
    float: left;
  }
  .progress-bar {  
    height: 5px;
    position: relative;
    top: 0px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 5px;

  }
  .progress-bar-shadow {
    height: 5px;
    position: relative;
    width: 100%;
    top: 5px;
    background-color: #ffffff;
    opacity: 0.2;
    border-radius: 5px;
  }
  .track-time {
    width: 15%;
    float: left;
    text-align: center;
  }
  .controls {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
  }
  .controls .play-pause {
    background: none;
    margin: 0 auto;
    padding: 4px 7px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 20px;
    outline: none;
    border: none;
  }
  
  #play {
    display:block;
  }
  #pause {
    display: none;
  }
  .controls-left {
    width: 50%;
    float: left;
  }
  
  
  .zero-fill {
    background: #ccc;
   
  }
  .fill {
    background: #ffffff;
     -webkit-transition: background .3s ease;   
    -moz-transition: background .3s ease;   
    -ms-transition: background .3s ease;   
    -o-transition: background .3s ease;   
    transition: background .3s ease;  
  }
  






  .controls-right {
    width: 50%;
    float: left;
    line-height: 32px;
    text-align: center;
  }
  .volume > div {
    width: 10px;
    height: 10px;
    display:inline-block;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Smiles */
    

  .column {
    height: 60px;
    justify-content: center;


  }
  
.column svg:hover #dislike {
  fill: #F42E46;
}

.column svg:hover #like {
  fill: #B8E986;
}

  .caritas {
    top: -75px;
    clear: both;
    width: 100%;
    height: 60px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }


    /* modal */


    .btn-link i {
      vertical-align: middle;
    }
    
    .modal-dialog {
        position: relative;
        margin: 0;
        max-width: 100% !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .modal-content {
        height: 100vh;
        background: none;
        border: 0;
        border-radius: 0;
    }
    
    .modal-header {
        background: none;
    }
    
    .modal-footer {
        background: #fff;
        display: block;
        align-items: initial;
        justify-content: initial;
        height:120px; 
    }

    @media only screen and (max-width: 560px) {
      .modal-footer {
        height:150px; 
      }
    }
    
    @media only screen and (max-width: 375px) {
      .modal-footer {
        height:240px; 
      }
    }

    .modal.fade .modal-dialog {
        transform: translate(0, 125%);
    }
    
    .modal.fade.show .modal-dialog {
        transform: translate(0,0);
    }
    
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    .add-to-cart {
        transition: all .3s;
    }

    .modal-container {
      padding-top: 10px;
      width: 70%;
      margin: 0 auto;
      display: flex;    }

    .column-modal-icon {
        flex: 1;
        height: 60px;
        justify-content: center;
      }

     .column-modal-text {
       padding-top: 5px;
       padding-left: 15px;
       line-height: 20pt;
      flex: 10;
      height: 60px;
      justify-content: center;
    }
    .modal-text-title {
      font-size: 2em; 
      font-weight: 700;
    }
    @media only screen and (max-width: 960px) {
      .modal-text-title {
        font-size:1.2em;
        line-height: 20px;
      }
    }

    .modal-text-body {
      line-height: 18px;
    }

   

    @media only screen and (max-width: 960px) {
      .modal-text-body {
        font-size: 0.75em;
        line-height: 14px;
      }
    }